body {
    color: #61514e;
    font-size: 14px;
    font-family: 'Source Sans Pro',sans-serif;
    padding-bottom: 3em;
    box-sizing: border-box;
    background-position: top center;
    background-size: cover;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #f7a600;
    text-decoration: none;
}

select option:disabled {
    font-style: italic;
    background: lightgrey;
}

/**
LAYOUT STYLES
 */

#header {
    background: #ffffff;
    padding: 1em;
    height: 70px;
    box-sizing: content-box;
}

#header .logos {
    text-align: center;
}

#header .logo-hb {
    display: inline-block;
    height: 70px;
    width: auto;
    line-height: 70px;
}

#header .logo-campaign {
    display: inline-block;
    height: 70px;
    width: auto;
    line-height: 70px;
}

#header .logo-campaign img.logo {
    max-height: 100%;
}

#main {
    padding: 100px 0;
}

#footer {
    background: #776863;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3em;
}

#footer .row {
    line-height: 3em;
}

#footer a {
    color: #ffffff;
    text-decoration: none;
}

#footer a:hover {
    color: #f7a600;
}

#footer .logo {
    display: inline-block;
    height: 3em;
    line-height: 3em;
}

#footer .logo img {
    max-height: 80%;
}

/**
CUSTOM ELEMENTS
 */

.step-container .step-heading {
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
}

.step-panel {
    background: #fff;
    border-radius: 10px;
    padding: 25px;
}

.step-content h3.heading {
    text-transform: uppercase;
    color: #f7a600;
    font-weight: bold;
    font-size: 24px;
}

.step-content h3.heading:first-child {
    margin-top: 0;
}

.note {
    border: 1px solid #776863;
    color: #776863;
    padding: 20px;
    margin-bottom: 15px;
}

.campaign-logo-wrapper img.logo {
    max-width: 50%;
}

/**
BOOTSTRAP TWEAKS
 */

.container-fluid {
    margin-left: 65px;
    margin-right: 65px;
}

a.btn {
    text-decoration: none;
}

.btn.btn-hb {
    background: rgb(247, 166, 0);
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.btn.btn-hb-2 {
    background: #776863;
    color: #ffffff;
    border: none;
    font-weight: bold;
}

.btn.btn-hb-secondary {
    background: #776863;
    color: #ffffff;
    border: none;
}

.btn.btn-upper {
    text-transform: uppercase;
}

.form-control {
    border-radius: 0;
    background: none;
    border-color: #f7a600;
    border-width: 2px;
    color: #776863;
}

.form-group {
    margin-bottom: 25px;
}

.modal-content > .alert {
    margin-bottom: 0;
}

.alert.error-code {
    padding: 5px;
}

/**
SELECT2 TWEAKS
 */

.select2 .select2-selection {
    background: none;
    border-radius: 0;
    border-color: #f7a600;
    border-width: 2px;
    color: #776863;
    height: 34px;
}

.select2 .select2-selection > div {
    height: 32px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: rgb(247, 166, 0);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background: none;
}

#hotel + .select2,
#offer + .select2 {
    width: 100% !important;
}

.has-error .select2-selection {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .select2-selection:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.select2-container span.price {
    float: right;
}

/**
JQUERY TWEAKS
 */

.ui-datepicker-calendar .ui-state-default {
    border: none;
    background: none;
    text-align: center;
    padding: 5px;
    margin: 2px;
}

.ui-datepicker-calendar .ui-state-hover {
    border: none;
    background: #f6f6f6;
}

.ui-datepicker-calendar .ui-datepicker-today {
    background: rgba(247, 166, 0, .6);
}

.ui-datepicker-calendar .ui-state-active {
    background: #776863;
}

.ui-datepicker-calendar .forfait-unavailable {
    text-decoration: line-through;
    opacity: 1;
}

.no-padding-left {
    padding-left: 0!important;
}

.cgu-list ul {
    padding-left: 15px;
}

/**
MAGIC CHECK TWEAKS
 */

.magic-checkbox.inline + label, .magic-radio.inline + label {
    display: inline-block;
}

.magic-checkbox + label:before {
    border-color: rgb(247, 166, 0);
    background: #ffffff;
}

.magic-checkbox:checked + label:before {
    border: 1px solid rgb(247, 166, 0);
    background: #ffffff;
}

.magic-checkbox + label:after {
    border-color: #61514e;
}

.magic-radio + label:after {
    background: #61514e;
}

.magic-radio + label:before,
.magic-radio:checked + label:before {
    border: 1px solid rgb(247, 166, 0);
}

/**
STEPS SPECIFICS
 */

#step_1 .step-content {
    color: #ffffff;
    font-size: 23px;
}

#step_1 .step-content a {
    color: #f7a600;
    text-decoration: underline;
}

#step_1 .step-content a:hover {
    color: #f7a600;
    text-decoration: none;
}

#step_1 .step-content .btn.btn-hb {
    background: rgb(247, 166, 0);
    color: #ffffff;
    border: none;
    text-decoration: none;
}

#step_1 .step-content h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

#step_1 .step-content h3 strong {
    text-transform: capitalize;
    font-size: 60px;
}