{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1>Code unique</h1>
    <form class="form-inline">
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" name="code" placeholder="Code">
        </div>
        <button type="button" class="btn btn-default" id="check_code">Verifier</button>
    </form>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% javascripts '@UniqueCodeBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}