{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'UniqueCodeBundle:Default:partials/flash-messages.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="col-container">
                    <p class="text-center campaign-logo-wrapper">
                        {% if campaign is not empty %}
                            <img src="{{ campaign.getLogo() }}" class="logo" />
                        {% else %}
                            <i class="fa fa-calendar-plus-o" style="font-size: 4em;"></i>
                        {% endif %}
                    </p>
                    <p class="text-center">Vous offre 50% dans un des hôtels partenaires Happybreak</p>
                    <p>
                        Comment ça marche :
                    </p>
                    <div class="step-list">
                        <div id="step-1" class="step-list-item active">
                            Etape 1 : Je choisi un hôtel sur happybreak.com aux dates qui me conviennent
                        </div>
                        <div id="step-2" class="step-list-item">
                            Etape 2 : Je saisie mes informations
                        </div>
                        <div id="step-3" class="step-list-item">
                            Etape 3 : J’envoie ma demande de réservation
                        </div>
                        <div id="step-4" class="step-list-item">
                            Etape 4 : Je reçois la confirmation de réservation
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-container">
                    <div class="step-container" id="step_1">
                        <h1 class="text-center">Vous êtes sur le point de réserver un hôtel d’exception à -50%</h1>
                        <h4>C’est très simple ! Premièrement, visitez notre site internet <a
                                    href="https://www.happybreak.com/">www.happybreak.com</a>
                            pour choisir votre hôtel puis revenez sur cette page pour envoyer votre demande de
                            réservation.</h4>
                        <h4>Etape 1 : Je choisi un hôtel sur happybreak.com aux dates qui me conviennent</h4>
                        <p class="text-center">
                            <strong>Vous n'avez pas encore choisi votre hôtel parmi nos hôtels ?
                                <br>
                                <br>
                                cliquer ci-dessous</strong>
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-hb btn-lg btn-block btn-upper">Choisir mon hôtel</button>
                            </div>
                        </div>
                        <p class="text-center">
                            <br>
                            <br>
                            <strong>Vous avez déjà visité notre site ?</strong>
                            <br>
                            <br>
                            cliquer ci-dessous
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-hb btn-lg btn-block btn-upper" id="to_step_2">étape suivante
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="step-container" id="step_2" style="display: none">
                        <h3 class="step-heading">Etape 2 : Je saisie mes informations</h3>
                        <form class="form" action="{{ path('unique_code_submit_customer_information') }}">
                            <div class="row">
                                <div class="col-md-6">
                                    {% if campaign is not empty %}
                                        <input type="hidden" name="campaignCode" value="{{ campaign.getCode() }}">
                                    {% endif %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="code" name="code"
                                               placeholder="Code de réservation *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                               placeholder="Nom *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                               placeholder="Prénom *">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" name="email"
                                               placeholder="Votre@email.com *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="re_email" name="re_email"
                                               placeholder="Veuillez confirmer votre adresse mail *" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" name="phone"
                                               placeholder="Téléphone *" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="alert alert-danger error-required" style="display: none;">
                                        Les champs indiqués en rouge sont incomplets. Veuillez les remplir.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="cgv" name="cgv" id="cgv">
                                        En cochant cette case, j’accepte les conditions générales de Happybreak*.
                                    </label>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="newsletter">
                                    En cochant cette case, j’accepte de recevoir la newsletter Happybreak tous les mois.
                                </label>
                            </div>
                            <div class="alert alert-danger error-cgv" style="display: none;">
                                Vous devez accepter les conditions générales de Happybreak pour continuer.
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-hb btn-lg btn-block btn-upper" id="to_step_3"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">étape
                                        suivante
                                    </button>
                                </div>
                            </div>
                        </form>
                        <span>* Champ obligatoire</span>
                    </div>
                    <div class="step-container" id="step_3" style="display: none">
                        <h3 class="step-heading">Etape 3 : J’envoie ma demande de réservation</h3>
                        <form action="{{ path('unique_code_submit_reservation') }}">
                            <div class="form-group">
                                <label class="radio-inline">
                                    Nombre de personnes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="number_person" id="number_person_1" value="1" checked> 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="number_person" id="number_person_2" value="2"> 2
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="hotel" name="hotel" placeholder="Hôtel *"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="date" name="date"
                                       placeholder="Date d'entrée *" required>
                            </div>
                            <div class="form-group">
                                <select name="number_night" class="form-control">
                                    <option value="1">1 nuit</option>
                                    <option value="2">2 nuit</option>
                                    <option value="3">3 nuit</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="offer" name="offer" placeholder="Formule *"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="customer_msg" name="customer_msg"
                                       placeholder="Champs libre">
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-hb btn-lg btn-block btn-upper" id="to_step_4"
                                            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">étape
                                        suivante
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}