{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'UniqueCodeBundle:Default:partials/flash-messages.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

