{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-container">
                    <h3 class="text-center">
                        Merci d’avoir accepté la réservation. Vous allez recevoir toutes les informations clients par email dans quelques minutes.
                        <br>
                        <br>A très bientôt
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

