{% extends 'base.html.twig' %}

{% block body %}
<div class="cover" style="background-image: url('https://www.happybreak.com/sites/default/files/styles/730_375/public/HOT001P03.jpg?itok=aSmgcZVH')">
    <div class="container">
        <div class="row">
            <div class="col-container">
                {% if reservation is not empty %}
                    {% include 'UniqueCodeBundle:Default:partials/hotel-reservation-header.html.twig' %}
                    <br>
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            J’accepte la réservation<br>
                            <a href="{{ path('unique_code_accept_reservation', {'id': reservation.getId() }) }}"
                               class="action-hotel-accept-reservation">ok</a>
                        </div>
                        <div class="col-xs-6 text-center">
                            Ce n’est pas possible, je propose une autre date<br>
                            <a href="{{ path('unique_code_hotel_refuse_reservation', {'id': reservation.getId() }) }}"
                               class="action-hotel-refuse-reservation">X</a>
                        </div>
                    </div>
                {% else %}
                    <div>Le reservation n'existe pas</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

