<p style="text-align: center">
    <img width="200" height="69" src="http://emailing.happy-break.fr/resources/codeunique/img/footer-logo.png" alt="logo"/>
</p>
<p>Tous droits réservés | <a href="https://www.happybreak.com/mentions-legales">Mentions légales</a> |
    <a href="https://www.happybreak.com">www.happybreak.com</a> | Contactez nous 09 80 01 01 01</p>
