<div id="modal-flash-error" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="content">Une erreur inattendue est survenue.</div>
            </div>
        </div>
    </div>
</div>
<div id="modal-flash-success" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="content">Opération réussie !</div>
            </div>
        </div>
    </div>
</div>
<div id="modal-flash-success-static" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="alert alert-success">
                <div class="content">Opération réussie !</div>
            </div>
        </div>
    </div>
</div>
<div id="modal-confirmation" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-hb-secondary cancel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-hb confirm" data-dismiss="modal">Confirmer</button>
            </div>
        </div>
    </div>
</div>